@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css); 

.clear{
	clear: both;
}
div#top{
	height:400px;
	padding:0;
	margin:0;
	z-index: 0;
	position: relative;
}

div#top_frame{
	height: 400px;
	background-size: cover;
	z-index: -1;
	position: absolute;
	width: 100%;
}

ul#photo_list{
	margin-left: 700px;
	width: 300px;
	height: 400px;
	padding:0;
	margin-top: 25px;

}

li#photo_object{
	
	list-style: none;
	width: 90px;
	height: 100px;
	float: left;
	padding: 0;
	margin-bottom: -10px;
	
	

}
li#photo_object img{
	width: 80px;
	height: 80px;
	
}

li#photo_object img:HOVER {
	cursor: pointer;
	opacity: 0.8;
}

img#top_button{
	
	float: left;
	width: 105px;
	height: 33px;
	margin: 340px 0px 0px 490px;
}
img#top_button:HOVER {
		cursor: pointer;
}
/*-------------------------------------------- */
div#mid{
	width: 1000px;
	font-family: 'Jeju Gothic', sans-serif; 
}
div#category{
	width: 960px;
	/* height: 420px; */
}
div#subject{
	width: 960px;
	height: 80px;

}
div#subject_left{
	width:280px;
	height: 80px;
	background-image: url("../icons/subject_left.jpg");
	display:inline-block;
	float:left;
	margin-top: 1px;
}
div#subject_center{
	width:400px;
	height: 80px;
	display:inline-block;
	float:left;


}

div#subject_center div{
	width:150px;
	height: 60px;
	
	color: #6f6f6f;
	font-size: 30px;
	margin-top:25px;
}


/*width:200px으로 수정*/
div#subject_center div{
	width:200px;
	height: 60px;
	
	color: #6f6f6f;
	font-size: 30px;
	margin-top:25px;

}

div#subject_right{
	width:280px;
	height: 80px;
	margin-top: 1px;
	background-image: url("../icons/subject_right.jpg");
	display:inline-block;
	
}

img#content{
	width:225px;
	height: 340px;
	margin-left:5px;
	margin-right:5px;
	
}

img#content:HOVER{
	cursor: pointer;
}



div#contents_mo, div#contents_mu{
	width: 940px;
	height: 360px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}


ul.contents_mo, ul.contents_mu{
	width: 100%;
	height: 350px;
	position: absolute;
	top:0;
	left:0;
	
}

ul.contents_mo li, ul.contents_mu li{
	float: left;
	list-style: none;
	position: relative;
}

div#content_body{
	width:100%;
	margin: 0 auto;
	text-align: left;
}

div#btn{
	position: absolute;
	top: 800px;
	width: 980px;
	z-index: 3;
	
}

div#btn_2{
	position: absolute;
	top: 1250px;
	width: 980px;
	z-index: 3;
}

div#btn img,div#btn_2 img{
		position: absolute;
	
}
div#btn img,div#btn_2 img:HOVER{
	cursor: pointer;
	
}

img#next_btn_mo, img#next_btn_mu{
	left:100%;
}


div#btn_div{
	width: 1000px;
	margin: 0 auto;
}


/* S: 이 주의 상영작 */

div#category_week{
	width: 980px;
	
}

div#weekBox1{
	border:solid 1px #cfcfcf;
	width: 960px;
	height: 330px;
	margin-bottom: 20px;
	
}

div#weekBox2{
	
/* 	border: solid 1px #cfcfcf; */
	width: 980x;
	height: 340px;
	margin-bottom: 20px;
	
}

div#weekBox3{
	
	width: 960px;
	height: 150px;
	padding-right: 1px;
	
}

.week_smallbox{
	float:left;
}


img#content_w{
	width:225px;
	height: 340px;
	margin-left:9px;
	margin-right:8px;
	border: solid 1px #cfcfcf;
	
}


img#content_w:HOVER{
	cursor: pointer;
}

/* E: 이 주의 상영작*/



/*------------------------------------------------------------  */
div#bottom{
	margin-top: 30px;
	height: 320px;
	

}
div#schedule_musical{
	height: 320px;
	background-color: #dedede;
	position: relative;
	
}

div#sche_mu_object{
	width:960px;
	height: 300px;
	padding: 0;
	margin: 0;
		
}
ul#sche_mu_cate{
	width: 300px;
	height:50px;
	margin: 0 auto;
	
}

ul#sche_mu_cate li{
	width: 150px;
	height: 50px;
	line-height: 3em;
	list-style: none;
	float: left;
	color:#333;
	font-size: 15px;
	font-weight: bold;
}

ul#sche_mu_cate li:HOVER{
	color:#f43700;
	cursor: pointer;
	

}

#last{
}

ul#sche_mu_content{
	width: 960px;
	height:260px;
	margin: 0;
	padding: 0;
	
}

ul#sche_mu_content li{
	float:left;
	list-style: none;
}



ul#sche_mu_content img{
	width: 152px;
	height: 210px;
	margin: 0 20px;;
	
}

ul#sche_mu_content img:HOVER{
	
	cursor: pointer;
}

ul#sche_mu_content li#open_day{
	width:152px;
	margin: 0  20px;
	color:#333;	
	font-size: 13px;
}

ul#sche_mu_content li#name{
	width:152px;
	margin: 0  20px;
	color:#333;
	font-weight: bold;
	font-size: 14px;
	
}

li#open_day:HOVER, li#name:HOVER{
	text-decoration: underline;
	cursor: pointer;
	
}

div#popup{
   position: absolute;
   background-color:#fff;
   top: 200px;
   left: 25px;
   width: 439px;
   height: 330px;
   z-index: 3;
   border: 2px windowtext;
   border-radius: 5px;
   padding: 15px 10px 2px 10px;
   cursor: pointer;
}

#pop1 {
	margin-right: 5px;
	font-family: 
}


div#noshow{
   margin-top: 10px;
   cursor: pointer;
   font-size: 12px;
}

